// Core variables and mixins
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./variables";

body{
  color: $color-1;
  background: linear-gradient(to bottom, $color-3 0%,$color-4 100%);
  font-family: 'Lato', sans-serif;
}

@import "./app/components/loading-indicator";
@import "./app/components/story-list";
