.loading-indicator--rings {
  background-color: black;
  background-size: 150px 150px;
  width: 100%;
  height: 100vh;
  background-image: url('../assets/styles/oval.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
